input{
    width: 470px;
    height: 60px;
  }
  p{
    color:#fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 55px;
  }
  
  ul{
    list-style: none;
  }
  
  
  nav{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(33, 2, 88));
  
    width: 300px;
    height: 110%;
    left: -300px;
    position: absolute;
    transition: all .4s;
  }
  
  
  ul{
    list-style: none;
  }
  
  input[type="checkbox"]
  {
    display: none;
  }
  
  ul{
    background: transparent;
    top: 65px;
    position:absolute;
    width: 100%;
  }
  
  input[type="checkbox"]:checked ~ nav{
    transform: translateX(300px);
  }
  
  f{
    text-decoration: none;
    color: #a0a0a0;
    display: block;
    padding: 20px 5px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  
  
  f:hover{
  
    color:#c281ee;
    font-size:15px;
  }
  x{
    Color: #fff;
    padding-top: 7px;
    font-family: 'Oswald', sans-serif;
  }
  x:hover{
    Color: #fff;
    padding-top: 7px;
    background-color: none;
  }
  
  body{
    background-color: rgb(42, 35, 51);
  }
  .header{
      background-color: #350479; /* ou3700EE*/
      width: 100%;
      height: 74;
      padding: none;   
      margin: none;
  }
  .button_header{
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 15px;
      font-family: 'Oswald', sans-serif;
      margin-left: 2px;
  
  }
  .button_header:hover{
      font-size: 17px;
      
  }
  .sing_in{
      width:156;
      height:40;
      background-color: #aa6df3;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-family: 'Poppins', sans-serif;
  }
  .sing_in:hover{
      width:156;
      height:40;
      background-color: #bb86fc;
      color: #fff;
      border-radius: 5px;
      border: none;
  }
  
  .login{
      width:156;
      height:40;
      background-color: #6200EE;
      color: #fff;
      align-items: right;
      border: none;
      padding: 0%;
      margin-top: 0%;
      font-family: 'Poppins', sans-serif;
      
   
  }
  .login:hover{ 
      width:156;
      height:40;
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      border: none;
  
  }
  .category{
    background-image: linear-gradient(15deg, #1f172e 0%, #3c3155 150%);
    padding-left: 75px;
    color: #fff;
    padding-top: 75px;
    padding-bottom: none;
  }
  :root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  .column{
    margin-right: -4px;
  }
  
  
  .card-section{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #1f172e 0%, #3c3155 150%);
    display: flex;
    justify-content: center;
    padding-top: none;
    padding-bottom: none;
   
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
    float: left;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
    float: left;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trasnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  .card button{
    transform: scale(1.05) translateZ(0);
    background-color: transparent;
    color: transparent;
    border: none !important;
    font-size: 17px;
    
  }
  .card:hover button{
    transform: scale(1.05) translateZ(0);
    color: #fff;
   
  }
  .card:hover button:hover{
    transform: scale(1.05) translateZ(0);
    color: #fff;
    text-decoration: underline;
    
    
  }
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
  
  .icon_like{
    margin-left: 100%;
    margin-top: 0px;
    color: #fff;
  }
  .icons_like::after{
    margin-left: 100%;
    margin-top: 0px;
    color: red;
  }
  /* Container */
  * {
      box-sizing: border-box;
    }
    
    #header {
      background: black;
      color: white;
      overflow: auto;
      padding-left: 25px;
      padding-right: 25px;
    }
    
    #header t {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-decoration: none;
    }
    
    #header t:hover {
      color: red;
    }
    
    .logo {
      float: left;
      display: inline-block;
      background: red;
      padding: 20px;
      margin-right: 25px;
    }
    
    .leftMenu {
      float: left;
      display: inline-block;
    }
    
    .leftMenu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .leftMenu ul li {
      display: inline-block;
      padding: 20px;
    }
    
    .leftMenu ul li a {
      color: white;
    }
    
    .leftMenu ul li a.dropdown {
      color: red;
    }
    
    .rightMenu {
      float: right;
      display: inline-block;
      color: black;
    }
    
    .rightMenu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .rightMenu ul li {
      display: inline-block;
      padding: 20px;
    }
    
    .rightMenu ul li a {
      color: white;
    }
    
    #largeImage {
      padding: 200px 25px;
      background: -webkit-linear-gradient(
          45deg,
          rgba(231, 31, 17, 0.7) 0%,
          #000000 100%
        ),
        url(http://cdn.collider.com/wp-content/uploads/Bane-Batman-standoff-The-Dark-Knight-Rises-wall-poster1.jpg)
          no-repeat left center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    .description-box {
      width: 50%;
    }
    
    .description-box h1 {
      font-family: serif;
      font-weight: 700;
      font-size: 60px;
      margin: 0;
      color: white;
    }
    
    .description-box h3 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 4;
      font-size: 25px;
      margin: 0;
      color: white;
    }
    
    .description-box h4 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      margin: 0px;
      color: white;
    }
    
    .description-box p {
      margin-top: 25px !important;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 18px;
      margin: 0px;
      color: white;
    }
    
    .button1 {
      margin-top: 25px !important;
      display: inline-block;
      padding: 12px 20px;
      background: #000;
      color: #fff;
      cursor: pointer;
    }
    
    .button2 {
      margin-top: 25px !important;
      display: inline-block;
      padding: 10px 18px;
      border: 2px solid #000;
      color: #fff;
      cursor: pointer;
    }
    
    .button1:hover {
      background: rgba(0, 0, 0, 0.6);
    }
    
    .button2:hover {
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid rgba(0, 0, 0, 0.6);
    }
    
    #videoSection {
      width: 100%;
      background: black;
    }
    
    .row {
      font-size: 0;
      width: 100%;
    }
    
    .videoBoxes {
      display: inline-block;
      background: red;
      width: 300px;
      min-height: 150px;
      font-size: 16px;
      margin: 2.5px;
      padding: 15px;
    }
    
    .videoBoxes h4 {
      font-family: helvetica;
      font-weight: 100;
      margin: 0;
      padding: 0;
      font-size: 30px;
      color: white;
    }
    
    .videoBoxes p {
      display: none;
    }
    
    .video1 {
      background: -webkit-linear-gradient(
          45deg,
          rgba(231, 31, 17, 0.5) 0%,
          #000000 100%
        ),
        url(https://comicsagogo.files.wordpress.com/2011/11/tintin-movie-poster-horizontal.jpg)
          no-repeat left center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    .video2 {
      background: -webkit-linear-gradient(
          45deg,
          rgba(231, 31, 17, 0.5) 0%,
          #000000 100%
        ),
        url(http://www.togomeetings.com/wp-content/uploads/2017/07/elegant-panoramic-movie-posters-and-cool-ideas-of-movie-poster-horizontal-13.jpg)
          no-repeat left center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    .video3 {
      background: -webkit-linear-gradient(
          45deg,
          rgba(231, 31, 17, 0.5) 0%,
          #000000 100%
        ),
        url(http://www.atlanticposters.com/images/bigHero6_2343.jpg) no-repeat left
          center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    .video4 {
      background: -webkit-linear-gradient(
          45deg,
          rgba(231, 31, 17, 0.5) 0%,
          #000000 100%
        ),
        url(https://photos.imageevent.com/afap/wallpapers/movies/starwarsanewhopepostersetc/star%20wars%20poster.jpg)
          no-repeat left center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    .video5 {
      background: -webkit-linear-gradient(
          45deg,
          rgba(117, 17, 231, 0.5) 0%,
          #000000 100%
        ),
        url(https://www.vintagemovieposters.co.uk/wp-content/uploads/2016/04/IMG_1392.jpg)
          no-repeat left center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    /* For Mobile screens */
    
    @media only screen and (max-width: 600px) {
      .videoBoxes {
        width: 95%;
        margin: 2.5%;
      }
      .videoBoxes h4 {
        font-family: helvetica;
        font-weight: 100;
        font-size: 40px;
      }
      .videoBoxes b {
        display: block;
        font-family: helvetica;
        font-weight: 300;
        font-size: 20px;
        color: #fff;
      }
    }
    