t{
    color:#fff;
    font-size: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
}
.margin{
    margin-left: 20px;
}
.button_watch{
   
    background-color:  #aa6dff;
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_watch:hover{
    background-color: #bb86fc;
    cursor: pointer;
}

.button_netflix{
    background-image: url('../streaming/netflix.png');
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_netflix:hover{
    cursor: pointer;
}

.button_prime{
 
    background-image:  url('../streaming/prime.png');
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.button_prime:hover{
    cursor: pointer;
}

.button_disney{
 
    background-image:url('../streaming/DISNEY.png');
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_disney:hover{
    cursor: pointer;
}

.button_just{
 
    background-image: url('../streaming/just.png');
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_just:hover{
    cursor: pointer;
}


.button_globo{
 
    background-image: url('../streaming/globoplay.png');
    padding: none;
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_globo:hover{
    cursor: pointer;
}
.button_telecine{
 
    background-image: url('../streaming/telelecine.jpg');
    padding: none;
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_telecinehover{
    cursor: pointer;
}
.button_star{
 
    background-image: url('../streaming/star.png');
    padding: none;
    color: #fff;
    border: none;
    align-items: center;
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_starhover{
    cursor: pointer;
}
