
body{
    background-image: url(../imagens/fundo_feedback.png);
}
ul{
    list-style: none;
}


nav{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(33, 2, 88));

    width: 300px;
    height: 100%;
    left: -300px;
    position: absolute;
    transition: all .4s;
    height:100%;
}


ul{
    list-style: none;
}

input[type="checkbox"]
{
    display: none;
}

nav{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(33, 2, 88));
    width: 300px;
    height: 100%;
    left: -300px;
    position: absolute;
    transition: all .4s;
    height:100%;
}

ul{
    background: transparent;
    top: 65px;
    position:absolute;
    width: 100%;
}

input[type="checkbox"]:checked ~ nav{
    transform: translateX(300px);
}
x{
    Color: #fff;
    padding-top: 7px;
    font-family: 'Oswald', sans-serif;
}

x:hover{
    Color: #fff;
    padding-top: 7px;
    background-color: none;
}

f{
    text-decoration: none;
    color: #a0a0a0;
    display: block;
    padding: 20px 5px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}


f:hover{

    color:#c281ee;
    font-size:15px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;

}
.header{
    background-color: #350479; /* ou3700EE*/
    width: 100%;
    height: 74;
    padding: none;   
    margin: none;
}
.button_header{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    margin-left: 2px;

}
.button_header:hover{
    font-size: 17px;
    cursor: pointer;
}
.button{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    margin-left: 2px;
    padding-top: 0%;

}
.button:hover{
    font-size: 17px;
    cursor: pointer;
}
.sing_in{
    width:156;
    height:40;
    background-color: #aa6df3;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.sing_in:hover{
    width:156;
    height:40;
    background-color: #bb86fc;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.login{
    width:156;
    height:40;
    background-color: #6200EE;
    color: #fff;
    align-items: right;
    border: none;
    padding: 0%;
    margin-top: 0%;
    font-family: 'Poppins', sans-serif;
    
 
}
.login:hover{ 
    width:156;
    height:40;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: none;

}

.table{
    margin-top:200px;
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}
.textarea{
    width: 500px;
    height: 100px;
    padding: 15px;  
    padding-right: 20px;
    padding-left: 20px;  
    border: solid 3px rgb(171, 131, 223);
    border-radius: 7px;
    font-family:Arial;
    margin-top:3px;
    background-color:#fff ;
}
.textarea:hover{
    width: 500px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    border: solid 3px rgb(46, 29, 70);
    border-radius: 7px;
    font-family:Arial;
    margin-top:3px;
    background-color:#fff;
}
.submit{
    background-color: #6200EE;
    color: white;
    width:  200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}
.submit:hover{
    background-color: #a06ce9;
    color:white
}   